version: "3.8"

services:
    traefik:
        image: traefik:v2.11
        container_name: traefik
        restart: always
        ports:
            - "80:80" # HTTP
            - "443:443" # HTTPS
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./traefik.yml:/etc/traefik/traefik.yml:ro
            - ./acme.json:/acme.json
        networks:
            - traefik-network

networks:
    traefik-network:
        external: true
