entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false # hanya container yang punya label traefik.enable=true yang akan diproxy

certificatesResolvers:
  myresolver:
    acme:
      email: rizalkrenz1@gmail.com # ganti dengan email aktif kamu
      storage: /acme.json
      httpChallenge:
        entryPoint: web
